/* CORE STYLING */
html {
  position: relative;
  min-height: 100%;
}
body {
  background: repeat url("./../images/bananas.png");
  margin-bottom: 80px;
  color: #353639;
  font-size: 100%;
}

/* NAVBAR */
.navbar {
  background-color: #ffffff;
}
.navbar .navbar-nav .nav-link {
  color: inherit;
  border-radius: .25rem;
  padding: 0.5rem;
  margin: 0 .5rem;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #ffaf00;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #ffffff;
  background-color: #ffaf00;
}

/* LOGIN PAGE */
.login-screen {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 1rem;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* HEADER */
header {
  background: #333333;
  color:#ffffff;
  padding-bottom: 10px;
  margin-bottom: 15px;
  padding-top: 15px;
}

/* BREADCRUMBS */
.breadcrumb a {
  color: #353639;
  text-decoration: none;
}

/* WEBSITE THEME COLORS */
.main-colors {
  background-color: #ffaf00 !important;
  color: #f1f1f1;
}

/* SEARCH SUGGESTIONS */
.suggestions-ajax {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: none;
}
.suggestions-ajax li a {
  display: block;
  min-height: 1rem;
  padding: 0.5em 10px;
  background: #e9ecef;
  color: #353639;
  text-decoration: none;
}
.suggestions-ajax li a:hover {
  background: #ffaf00;
  color: #ffffff;
}

/* FOOTER */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  line-height: 60px; /* Vertically center the text there */
  background: #333333;
  color: #ffffff;
  text-align: center;
  margin-top: 10px;
}
